@charset "UTF-8";

/*基本設定*/
body {
	font-family:sans-serif;
	color: black;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

section, nav, header, main, footer {display:block;}

h1 {
	font-family:cursive;
	font-weight:normal;
	text-align:center;
}

ul, li {
			padding: 0px 20px;
			list-style: none;
			display: inline-block;
		}

a { text-decoration: none;}
a:link { color:#FFFFFF;}
a:visited { color:#FFFFFF;}
a:hover { color:#F7BE81;}

.center { text-align: center; }

/*headerの設定*/
header {
	width:100%;
	padding: 5px;
	text-align:center;
	position: relative;
	background-color:#81BEF7;
}

/*mainの設定*/
main nav ul li {
				padding: 0px 0px 0px 1100px;
			}

main a:link { color:#81BEF7;}
main a:visited { color:#81BEF7;}
main a:hover { color:#F7BE81;}